{% for _agreementPeriod in agreementPeriods %}
    <tr>
        <td>{{ _agreementPeriod.id }}</td>
        <td>{{ _agreementPeriod.name }}</td>
        <td class="text-center">
            <div class="btn-group">
                <a href="{{ path('flexphp.payroll.agreement-periods.read', {id: _agreementPeriod.id}) }}" class="btn btn-sm btn-outline-light" title="{% trans from 'messages' %}action.read{% endtrans %}">
                    <i class="fa fa-eye text-dark" aria-hidden="true"></i>
                </a>

                <a href="{{ path('flexphp.payroll.agreement-periods.edit', {id: _agreementPeriod.id}) }}" class="btn btn-sm btn-outline-light" title="{% trans from 'messages' %}action.edit{% endtrans %}">
                    <i class="fa fa-edit text-info" aria-hidden="true"></i>
                </a>
            </div>
        </td>
    </tr>
{% endfor %}
