<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">

    <!--
    Add routes in config/routes.yaml
    flexphp_payroll_bundle_routes:
        resource: "@FlexPHPPayrollBundle/config/routes.xml"
        prefix: /
    -->

    <route id="flexphp.payroll.employee-types.index" controller="flexphp.payroll.bundle.employee_type_controller::index" path="/employee-types" methods="GET" />
    <route id="flexphp.payroll.employee-types.new" controller="flexphp.payroll.bundle.employee_type_controller::new" path="/employee-types/new" methods="GET" />
    <route id="flexphp.payroll.employee-types.create" controller="flexphp.payroll.bundle.employee_type_controller::create" path="/employee-types/create" methods="POST" />
    <route id="flexphp.payroll.employee-types.read" controller="flexphp.payroll.bundle.employee_type_controller::read" path="/employee-types/{id}" methods="GET" />
    <route id="flexphp.payroll.employee-types.edit" controller="flexphp.payroll.bundle.employee_type_controller::edit" path="/employee-types/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.employee-types.update" controller="flexphp.payroll.bundle.employee_type_controller::update" path="/employee-types/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.employee-types.delete" controller="flexphp.payroll.bundle.employee_type_controller::delete" path="/employee-types/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.employee-sub-types.index" controller="flexphp.payroll.bundle.employee_sub_type_controller::index" path="/employee-sub-types" methods="GET" />
    <route id="flexphp.payroll.employee-sub-types.new" controller="flexphp.payroll.bundle.employee_sub_type_controller::new" path="/employee-sub-types/new" methods="GET" />
    <route id="flexphp.payroll.employee-sub-types.create" controller="flexphp.payroll.bundle.employee_sub_type_controller::create" path="/employee-sub-types/create" methods="POST" />
    <route id="flexphp.payroll.employee-sub-types.read" controller="flexphp.payroll.bundle.employee_sub_type_controller::read" path="/employee-sub-types/{id}" methods="GET" />
    <route id="flexphp.payroll.employee-sub-types.edit" controller="flexphp.payroll.bundle.employee_sub_type_controller::edit" path="/employee-sub-types/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.employee-sub-types.update" controller="flexphp.payroll.bundle.employee_sub_type_controller::update" path="/employee-sub-types/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.employee-sub-types.delete" controller="flexphp.payroll.bundle.employee_sub_type_controller::delete" path="/employee-sub-types/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.agreement-types.index" controller="flexphp.payroll.bundle.agreement_type_controller::index" path="/agreement-types" methods="GET" />
    <route id="flexphp.payroll.agreement-types.new" controller="flexphp.payroll.bundle.agreement_type_controller::new" path="/agreement-types/new" methods="GET" />
    <route id="flexphp.payroll.agreement-types.create" controller="flexphp.payroll.bundle.agreement_type_controller::create" path="/agreement-types/create" methods="POST" />
    <route id="flexphp.payroll.agreement-types.read" controller="flexphp.payroll.bundle.agreement_type_controller::read" path="/agreement-types/{id}" methods="GET" />
    <route id="flexphp.payroll.agreement-types.edit" controller="flexphp.payroll.bundle.agreement_type_controller::edit" path="/agreement-types/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.agreement-types.update" controller="flexphp.payroll.bundle.agreement_type_controller::update" path="/agreement-types/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.agreement-types.delete" controller="flexphp.payroll.bundle.agreement_type_controller::delete" path="/agreement-types/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.agreement-periods.index" controller="flexphp.payroll.bundle.agreement_period_controller::index" path="/agreement-periods" methods="GET" />
    <route id="flexphp.payroll.agreement-periods.new" controller="flexphp.payroll.bundle.agreement_period_controller::new" path="/agreement-periods/new" methods="GET" />
    <route id="flexphp.payroll.agreement-periods.create" controller="flexphp.payroll.bundle.agreement_period_controller::create" path="/agreement-periods/create" methods="POST" />
    <route id="flexphp.payroll.agreement-periods.read" controller="flexphp.payroll.bundle.agreement_period_controller::read" path="/agreement-periods/{id}" methods="GET" />
    <route id="flexphp.payroll.agreement-periods.edit" controller="flexphp.payroll.bundle.agreement_period_controller::edit" path="/agreement-periods/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.agreement-periods.update" controller="flexphp.payroll.bundle.agreement_period_controller::update" path="/agreement-periods/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.agreement-periods.delete" controller="flexphp.payroll.bundle.agreement_period_controller::delete" path="/agreement-periods/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.agreement-status.index" controller="flexphp.payroll.bundle.agreement_status_controller::index" path="/agreement-status" methods="GET" />
    <route id="flexphp.payroll.agreement-status.new" controller="flexphp.payroll.bundle.agreement_status_controller::new" path="/agreement-status/new" methods="GET" />
    <route id="flexphp.payroll.agreement-status.create" controller="flexphp.payroll.bundle.agreement_status_controller::create" path="/agreement-status/create" methods="POST" />
    <route id="flexphp.payroll.agreement-status.read" controller="flexphp.payroll.bundle.agreement_status_controller::read" path="/agreement-status/{id}" methods="GET" />
    <route id="flexphp.payroll.agreement-status.edit" controller="flexphp.payroll.bundle.agreement_status_controller::edit" path="/agreement-status/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.agreement-status.update" controller="flexphp.payroll.bundle.agreement_status_controller::update" path="/agreement-status/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.agreement-status.delete" controller="flexphp.payroll.bundle.agreement_status_controller::delete" path="/agreement-status/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.payroll-types.index" controller="flexphp.payroll.bundle.payroll_type_controller::index" path="/payroll-types" methods="GET" />
    <route id="flexphp.payroll.payroll-types.new" controller="flexphp.payroll.bundle.payroll_type_controller::new" path="/payroll-types/new" methods="GET" />
    <route id="flexphp.payroll.payroll-types.create" controller="flexphp.payroll.bundle.payroll_type_controller::create" path="/payroll-types/create" methods="POST" />
    <route id="flexphp.payroll.payroll-types.read" controller="flexphp.payroll.bundle.payroll_type_controller::read" path="/payroll-types/{id}" methods="GET" />
    <route id="flexphp.payroll.payroll-types.edit" controller="flexphp.payroll.bundle.payroll_type_controller::edit" path="/payroll-types/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.payroll-types.update" controller="flexphp.payroll.bundle.payroll_type_controller::update" path="/payroll-types/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.payroll-types.delete" controller="flexphp.payroll.bundle.payroll_type_controller::delete" path="/payroll-types/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.payroll-status.index" controller="flexphp.payroll.bundle.payroll_status_controller::index" path="/payroll-status" methods="GET" />
    <route id="flexphp.payroll.payroll-status.new" controller="flexphp.payroll.bundle.payroll_status_controller::new" path="/payroll-status/new" methods="GET" />
    <route id="flexphp.payroll.payroll-status.create" controller="flexphp.payroll.bundle.payroll_status_controller::create" path="/payroll-status/create" methods="POST" />
    <route id="flexphp.payroll.payroll-status.read" controller="flexphp.payroll.bundle.payroll_status_controller::read" path="/payroll-status/{id}" methods="GET" />
    <route id="flexphp.payroll.payroll-status.edit" controller="flexphp.payroll.bundle.payroll_status_controller::edit" path="/payroll-status/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.payroll-status.update" controller="flexphp.payroll.bundle.payroll_status_controller::update" path="/payroll-status/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.payroll-status.delete" controller="flexphp.payroll.bundle.payroll_status_controller::delete" path="/payroll-status/delete/{id}" methods="DELETE" />

<!--     <route id="flexphp.payroll.account-types.index" controller="flexphp.payroll.bundle.account_type_controller::index" path="/employee-types" methods="GET" /> -->
<!--     <route id="flexphp.payroll.account-types.new" controller="flexphp.payroll.bundle.account_type_controller::new" path="/employee-types/new" methods="GET" /> -->
<!--     <route id="flexphp.payroll.account-types.create" controller="flexphp.payroll.bundle.account_type_controller::create" path="/employee-types/create" methods="POST" /> -->
<!--     <route id="flexphp.payroll.account-types.read" controller="flexphp.payroll.bundle.account_type_controller::read" path="/employee-types/{id}" methods="GET" /> -->
<!--     <route id="flexphp.payroll.account-types.edit" controller="flexphp.payroll.bundle.account_type_controller::edit" path="/employee-types/edit/{id}" methods="GET" /> -->
<!--     <route id="flexphp.payroll.account-types.update" controller="flexphp.payroll.bundle.account_type_controller::update" path="/employee-types/update/{id}" methods="PUT" /> -->
<!--     <route id="flexphp.payroll.account-types.delete" controller="flexphp.payroll.bundle.account_type_controller::delete" path="/employee-types/delete/{id}" methods="DELETE" /> -->
</routes>

