<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">

    <!--
    Add routes in config/routes.yaml
    flexphp_payroll_bundle_routes:
        resource: "@FlexPHPPayrollBundle/config/routes.xml"
        prefix: /
    -->

    <route id="flexphp.payroll.employee-types.index" controller="flexphp.payroll.bundle.employee_type_controller::index" path="/employee-types" methods="GET" />
    <route id="flexphp.payroll.employee-types.new" controller="flexphp.payroll.bundle.employee_type_controller::new" path="/employee-types/new" methods="GET" />
    <route id="flexphp.payroll.employee-types.create" controller="flexphp.payroll.bundle.employee_type_controller::create" path="/employee-types/create" methods="POST" />
    <route id="flexphp.payroll.employee-types.read" controller="flexphp.payroll.bundle.employee_type_controller::read" path="/employee-types/{id}" methods="GET" />
    <route id="flexphp.payroll.employee-types.edit" controller="flexphp.payroll.bundle.employee_type_controller::edit" path="/employee-types/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.employee-types.update" controller="flexphp.payroll.bundle.employee_type_controller::update" path="/employee-types/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.employee-types.delete" controller="flexphp.payroll.bundle.employee_type_controller::delete" path="/employee-types/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.employee-sub-types.index" controller="flexphp.payroll.bundle.employee_sub_type_controller::index" path="/employee-sub-types" methods="GET" />
    <route id="flexphp.payroll.employee-sub-types.new" controller="flexphp.payroll.bundle.employee_sub_type_controller::new" path="/employee-sub-types/new" methods="GET" />
    <route id="flexphp.payroll.employee-sub-types.create" controller="flexphp.payroll.bundle.employee_sub_type_controller::create" path="/employee-sub-types/create" methods="POST" />
    <route id="flexphp.payroll.employee-sub-types.read" controller="flexphp.payroll.bundle.employee_sub_type_controller::read" path="/employee-sub-types/{id}" methods="GET" />
    <route id="flexphp.payroll.employee-sub-types.edit" controller="flexphp.payroll.bundle.employee_sub_type_controller::edit" path="/employee-sub-types/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.employee-sub-types.update" controller="flexphp.payroll.bundle.employee_sub_type_controller::update" path="/employee-sub-types/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.employee-sub-types.delete" controller="flexphp.payroll.bundle.employee_sub_type_controller::delete" path="/employee-sub-types/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.agreement-types.index" controller="flexphp.payroll.bundle.agreement_type_controller::index" path="/agreement-types" methods="GET" />
    <route id="flexphp.payroll.agreement-types.new" controller="flexphp.payroll.bundle.agreement_type_controller::new" path="/agreement-types/new" methods="GET" />
    <route id="flexphp.payroll.agreement-types.create" controller="flexphp.payroll.bundle.agreement_type_controller::create" path="/agreement-types/create" methods="POST" />
    <route id="flexphp.payroll.agreement-types.read" controller="flexphp.payroll.bundle.agreement_type_controller::read" path="/agreement-types/{id}" methods="GET" />
    <route id="flexphp.payroll.agreement-types.edit" controller="flexphp.payroll.bundle.agreement_type_controller::edit" path="/agreement-types/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.agreement-types.update" controller="flexphp.payroll.bundle.agreement_type_controller::update" path="/agreement-types/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.agreement-types.delete" controller="flexphp.payroll.bundle.agreement_type_controller::delete" path="/agreement-types/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.agreement-periods.index" controller="flexphp.payroll.bundle.agreement_period_controller::index" path="/agreement-periods" methods="GET" />
    <route id="flexphp.payroll.agreement-periods.new" controller="flexphp.payroll.bundle.agreement_period_controller::new" path="/agreement-periods/new" methods="GET" />
    <route id="flexphp.payroll.agreement-periods.create" controller="flexphp.payroll.bundle.agreement_period_controller::create" path="/agreement-periods/create" methods="POST" />
    <route id="flexphp.payroll.agreement-periods.read" controller="flexphp.payroll.bundle.agreement_period_controller::read" path="/agreement-periods/{id}" methods="GET" />
    <route id="flexphp.payroll.agreement-periods.edit" controller="flexphp.payroll.bundle.agreement_period_controller::edit" path="/agreement-periods/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.agreement-periods.update" controller="flexphp.payroll.bundle.agreement_period_controller::update" path="/agreement-periods/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.agreement-periods.delete" controller="flexphp.payroll.bundle.agreement_period_controller::delete" path="/agreement-periods/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.agreement-status.index" controller="flexphp.payroll.bundle.agreement_status_controller::index" path="/agreement-status" methods="GET" />
    <route id="flexphp.payroll.agreement-status.new" controller="flexphp.payroll.bundle.agreement_status_controller::new" path="/agreement-status/new" methods="GET" />
    <route id="flexphp.payroll.agreement-status.create" controller="flexphp.payroll.bundle.agreement_status_controller::create" path="/agreement-status/create" methods="POST" />
    <route id="flexphp.payroll.agreement-status.read" controller="flexphp.payroll.bundle.agreement_status_controller::read" path="/agreement-status/{id}" methods="GET" />
    <route id="flexphp.payroll.agreement-status.edit" controller="flexphp.payroll.bundle.agreement_status_controller::edit" path="/agreement-status/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.agreement-status.update" controller="flexphp.payroll.bundle.agreement_status_controller::update" path="/agreement-status/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.agreement-status.delete" controller="flexphp.payroll.bundle.agreement_status_controller::delete" path="/agreement-status/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.payroll-types.index" controller="flexphp.payroll.bundle.payroll_type_controller::index" path="/payroll-types" methods="GET" />
    <route id="flexphp.payroll.payroll-types.new" controller="flexphp.payroll.bundle.payroll_type_controller::new" path="/payroll-types/new" methods="GET" />
    <route id="flexphp.payroll.payroll-types.create" controller="flexphp.payroll.bundle.payroll_type_controller::create" path="/payroll-types/create" methods="POST" />
    <route id="flexphp.payroll.payroll-types.read" controller="flexphp.payroll.bundle.payroll_type_controller::read" path="/payroll-types/{id}" methods="GET" />
    <route id="flexphp.payroll.payroll-types.edit" controller="flexphp.payroll.bundle.payroll_type_controller::edit" path="/payroll-types/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.payroll-types.update" controller="flexphp.payroll.bundle.payroll_type_controller::update" path="/payroll-types/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.payroll-types.delete" controller="flexphp.payroll.bundle.payroll_type_controller::delete" path="/payroll-types/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.payroll-status.index" controller="flexphp.payroll.bundle.payroll_status_controller::index" path="/payroll-status" methods="GET" />
    <route id="flexphp.payroll.payroll-status.new" controller="flexphp.payroll.bundle.payroll_status_controller::new" path="/payroll-status/new" methods="GET" />
    <route id="flexphp.payroll.payroll-status.create" controller="flexphp.payroll.bundle.payroll_status_controller::create" path="/payroll-status/create" methods="POST" />
    <route id="flexphp.payroll.payroll-status.read" controller="flexphp.payroll.bundle.payroll_status_controller::read" path="/payroll-status/{id}" methods="GET" />
    <route id="flexphp.payroll.payroll-status.edit" controller="flexphp.payroll.bundle.payroll_status_controller::edit" path="/payroll-status/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.payroll-status.update" controller="flexphp.payroll.bundle.payroll_status_controller::update" path="/payroll-status/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.payroll-status.delete" controller="flexphp.payroll.bundle.payroll_status_controller::delete" path="/payroll-status/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.account-types.index" controller="flexphp.payroll.bundle.account_type_controller::index" path="/account-types" methods="GET" />
    <route id="flexphp.payroll.account-types.new" controller="flexphp.payroll.bundle.account_type_controller::new" path="/account-types/new" methods="GET" />
    <route id="flexphp.payroll.account-types.create" controller="flexphp.payroll.bundle.account_type_controller::create" path="/account-types/create" methods="POST" />
    <route id="flexphp.payroll.account-types.read" controller="flexphp.payroll.bundle.account_type_controller::read" path="/account-types/{id}" methods="GET" />
    <route id="flexphp.payroll.account-types.edit" controller="flexphp.payroll.bundle.account_type_controller::edit" path="/account-types/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.account-types.update" controller="flexphp.payroll.bundle.account_type_controller::update" path="/account-types/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.account-types.delete" controller="flexphp.payroll.bundle.account_type_controller::delete" path="/account-types/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.banks.index" controller="flexphp.payroll.bundle.bank_controller::index" path="/banks" methods="GET" />
    <route id="flexphp.payroll.banks.new" controller="flexphp.payroll.bundle.bank_controller::new" path="/banks/new" methods="GET" />
    <route id="flexphp.payroll.banks.create" controller="flexphp.payroll.bundle.bank_controller::create" path="/banks/create" methods="POST" />
    <route id="flexphp.payroll.banks.read" controller="flexphp.payroll.bundle.bank_controller::read" path="/banks/{id}" methods="GET" />
    <route id="flexphp.payroll.banks.edit" controller="flexphp.payroll.bundle.bank_controller::edit" path="/banks/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.banks.update" controller="flexphp.payroll.bundle.bank_controller::update" path="/banks/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.banks.delete" controller="flexphp.payroll.bundle.bank_controller::delete" path="/banks/delete/{id}" methods="DELETE" />

    <route id="flexphp.payroll.agreements.index" controller="flexphp.payroll.bundle.agreement_controller::index" path="/agreements" methods="GET" />
    <route id="flexphp.payroll.agreements.new" controller="flexphp.payroll.bundle.agreement_controller::new" path="/agreements/new" methods="GET" />
    <route id="flexphp.payroll.agreements.create" controller="flexphp.payroll.bundle.agreement_controller::create" path="/agreements/create" methods="POST" />
    <route id="flexphp.payroll.agreements.read" controller="flexphp.payroll.bundle.agreement_controller::read" path="/agreements/{id}" methods="GET" />
    <route id="flexphp.payroll.agreements.edit" controller="flexphp.payroll.bundle.agreement_controller::edit" path="/agreements/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.agreements.update" controller="flexphp.payroll.bundle.agreement_controller::update" path="/agreements/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.agreements.delete" controller="flexphp.payroll.bundle.agreement_controller::delete" path="/agreements/delete/{id}" methods="DELETE" />
    <route id="flexphp.payroll.agreements.find.employees" controller="flexphp.payroll.bundle.agreement_controller::findEmployee" path="/agreements/find-employees" methods="POST" />
    <route id="flexphp.payroll.agreements.find.agreement-types" controller="flexphp.payroll.bundle.agreement_controller::findAgreementType" path="/agreements/find-agreement-types" methods="POST" />
    <route id="flexphp.payroll.agreements.find.agreement-periods" controller="flexphp.payroll.bundle.agreement_controller::findAgreementPeriod" path="/agreements/find-agreement-periods" methods="POST" />
    <route id="flexphp.payroll.agreements.find.currencies" controller="flexphp.payroll.bundle.agreement_controller::findCurrency" path="/agreements/find-currencies" methods="POST" />
    <route id="flexphp.payroll.agreements.find.agreement-status" controller="flexphp.payroll.bundle.agreement_controller::findAgreementStatus" path="/agreements/find-agreement-status" methods="POST" />

    <route id="flexphp.payroll.employees.index" controller="flexphp.payroll.bundle.employee_controller::index" path="/employees" methods="GET" />
    <route id="flexphp.payroll.employees.new" controller="flexphp.payroll.bundle.employee_controller::new" path="/employees/new" methods="GET" />
    <route id="flexphp.payroll.employees.create" controller="flexphp.payroll.bundle.employee_controller::create" path="/employees/create" methods="POST" />
    <route id="flexphp.payroll.employees.read" controller="flexphp.payroll.bundle.employee_controller::read" path="/employees/{id}" methods="GET" />
    <route id="flexphp.payroll.employees.edit" controller="flexphp.payroll.bundle.employee_controller::edit" path="/employees/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.employees.update" controller="flexphp.payroll.bundle.employee_controller::update" path="/employees/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.employees.delete" controller="flexphp.payroll.bundle.employee_controller::delete" path="/employees/delete/{id}" methods="DELETE" />
    <route id="flexphp.payroll.employees.find.document-types" controller="flexphp.payroll.bundle.employee_controller::findDocumentType" path="/employees/find-document-types" methods="POST" />
    <route id="flexphp.payroll.employees.find.employee-types" controller="flexphp.payroll.bundle.employee_controller::findEmployeeType" path="/employees/find-employee-types" methods="POST" />
    <route id="flexphp.payroll.employees.find.employee-sub-types" controller="flexphp.payroll.bundle.employee_controller::findEmployeeSubType" path="/employees/find-employee-sub-types" methods="POST" />
    <route id="flexphp.payroll.employees.find.payment-methods" controller="flexphp.payroll.bundle.employee_controller::findPaymentMethod" path="/employees/find-payment-methods" methods="POST" />
    <route id="flexphp.payroll.employees.find.account-types" controller="flexphp.payroll.bundle.employee_controller::findAccountType" path="/employees/find-account-types" methods="POST" />

    <route id="flexphp.payroll.paysheets.index" controller="flexphp.payroll.bundle.paysheet_controller::index" path="/paysheets" methods="GET,POST" />
    <route id="flexphp.payroll.paysheets.new" controller="flexphp.payroll.bundle.paysheet_controller::new" path="/paysheets/new" methods="GET" />
    <route id="flexphp.payroll.paysheets.create" controller="flexphp.payroll.bundle.paysheet_controller::create" path="/paysheets/create" methods="POST" />
    <route id="flexphp.payroll.paysheets.read" controller="flexphp.payroll.bundle.paysheet_controller::read" path="/paysheets/{id}" methods="GET" />
    <route id="flexphp.payroll.paysheets.edit" controller="flexphp.payroll.bundle.paysheet_controller::edit" path="/paysheets/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.paysheets.update" controller="flexphp.payroll.bundle.paysheet_controller::update" path="/paysheets/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.paysheets.delete" controller="flexphp.payroll.bundle.paysheet_controller::delete" path="/paysheets/delete/{id}" methods="DELETE" />
    <route id="flexphp.payroll.paysheets.find.employees" controller="flexphp.payroll.bundle.paysheet_controller::findEmployee" path="/paysheets/find-employees" methods="POST" />
    <route id="flexphp.payroll.paysheets.find.agreements" controller="flexphp.payroll.bundle.paysheet_controller::findAgreement" path="/paysheets/find-agreements" methods="POST" />
    <route id="flexphp.payroll.paysheets.find.payroll-status" controller="flexphp.payroll.bundle.paysheet_controller::findPayrollStatus" path="/paysheets/find-payroll-status" methods="POST" />
    <route id="flexphp.payroll.paysheets.prepaysheet" controller="flexphp.payroll.bundle.paysheet_controller::prepaysheet" path="/paysheets/{id}/prepaysheet" methods="GET" />
    <route id="flexphp.payroll.paysheets.epayroll" controller="flexphp.payroll.bundle.paysheet_controller::epayroll" path="/paysheets/epayroll" methods="GET" />

    <route id="flexphp.payroll.payrolls.index" controller="flexphp.payroll.bundle.payroll_controller::index" path="/payrolls" methods="GET" />
    <route id="flexphp.payroll.payrolls.new" controller="flexphp.payroll.bundle.payroll_controller::new" path="/payrolls/new" methods="GET" />
    <route id="flexphp.payroll.payrolls.create" controller="flexphp.payroll.bundle.payroll_controller::create" path="/payrolls/create" methods="POST" />
    <route id="flexphp.payroll.payrolls.read" controller="flexphp.payroll.bundle.payroll_controller::read" path="/payrolls/{id}" methods="GET" />
    <route id="flexphp.payroll.payrolls.edit" controller="flexphp.payroll.bundle.payroll_controller::edit" path="/payrolls/edit/{id}" methods="GET" />
    <route id="flexphp.payroll.payrolls.update" controller="flexphp.payroll.bundle.payroll_controller::update" path="/payrolls/update/{id}" methods="PUT" />
    <route id="flexphp.payroll.payrolls.delete" controller="flexphp.payroll.bundle.payroll_controller::delete" path="/payrolls/delete/{id}" methods="DELETE" />
    <route id="flexphp.payroll.payrolls.find.paysheets" controller="flexphp.payroll.bundle.payroll_controller::findPaysheet" path="/payrolls/find-paysheets" methods="POST" />
    <route id="flexphp.payroll.payrolls.find.providers" controller="flexphp.payroll.bundle.payroll_controller::findProvider" path="/payrolls/find-providers" methods="POST" />
    <route id="flexphp.payroll.payrolls.find.payroll-status" controller="flexphp.payroll.bundle.payroll_controller::findPayrollStatus" path="/payrolls/find-payroll-status" methods="POST" />
    <route id="flexphp.payroll.payrolls.find.payroll-types" controller="flexphp.payroll.bundle.payroll_controller::findPayrollType" path="/payrolls/find-payroll-types" methods="POST" />
    <route id="flexphp.payroll.payrolls.find.payrolls" controller="flexphp.payroll.bundle.payroll_controller::findPayroll" path="/payrolls/find-payrolls" methods="POST" />
</routes>

