{% trans_default_domain 'paysheet' %}
<div class="card-header d-flex">
    <h4 class="card-header-title">
        <i class="fas fa-user"></i> Devengados: Dotación
    </h4>
    <div class="toolbar ml-auto">
        <button class="btn btn-sm btn-link" type="button" data-toggle="collapse" data-target="#accruedEndowmentData" aria-expanded="true" aria-controls="accruedEndowmentData">
            {% trans from 'messages' %}action.toggle{% endtrans %}
        </button>
    </div>
</div>

<div id="accruedEndowmentData" class="collapse hide card-body">
    <div class="form-row">
        <div class="form-group col-4">
            <label for="accrued[endowment][0][amount]">Monto</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input name="accrued[endowment][0][amount]" class="form-control" type="text" />
            </div>
        </div>
    </div>
</div>
