{% trans_default_domain 'paysheet' %}
{# <div class="card-header d-flex"> #}
{#     <h4 class="card-header-title"> #}
{#         <i class="fas fa-cash-register"></i> {% trans from 'paysheetDetail' %}entity{% endtrans %} #}
{#     </h4> #}
{#     <div class="toolbar ml-auto"> #}
{#         <button class="btn btn-sm btn-link" type="button" data-toggle="collapse" data-target="#detailPaysheetData" aria-expanded="true" aria-controls="detailPaysheetData"> #}
{#             {% trans from 'messages' %}action.toggle{% endtrans %} #}
{#         </button> #}
{#     </div> #}
{# </div> #}

{# <div id="detailPaysheetData" class="collapse show card-body p-0-sm"> #}
{#     <div class="form-row"> #}
{#         <div class="col-12 table-responsive-sm"> #}
{#             <table id="detailPaysheet" class="table table-borderless"> #}
{#                 <thead> #}
{#                     <tr> #}
{#                         <th class="align-middle text-center" scope="col" style="width: 50px;"> #}
{#                             <button type="button" class="btn btn-sm btn-link add-row-paysheet-detail" title="{% trans from 'messages' %}action.add{% endtrans %}"> #}
{#                                 <i class="fas fa-2x fa-plus-circle text-success"></i> #}
{#                             </button> #}
{#                         </th> #}
{#                         <th class="align-middle" scope="col">{% trans from 'paysheetDetail' %}label.itemId{% endtrans %}</th> #}
{#                         <th class="align-middle text-center" scope="col" style="width: 110px;">{% trans from 'paysheetDetail' %}label.value{% endtrans %}</th> #}
{#                     </tr> #}
{#                 </thead> #}

{#                 <tbody> #}
{#                 </tbody> #}

{#                 <tfoot> #}
{#                     <tr> #}
{#                         <td scope="row" class="text-right text-uppercase" colspan="2"> #}
{#                             {% trans %}label.total{% endtrans %} #}
{#                         </td> #}
{#                         <td class="text-right font-weight-bold"> #}
{#                             <span style="font-size: 1.5em;"> #}
{#                                 <span class="money-format" name="totalNeto">0</span> #}
{#                             </span> #}
{#                         </td> #}
{#                     </tr> #}
{#                 </tfoot> #}
{#             </table> #}
{#         </div> #}

{#         {1# <div class="form-group col-12"> #1} #}
{#         {1#     <label for="paysheet[notes]" class="col-form-label">{% trans from 'paysheet' %}label.notes{% endtrans %}</label> #1} #}
{#         {1#     <textarea name="paysheet[notes]" class="form-control">{{ paysheet.notes }}</textarea> #1} #}
{#         {1# </div> #1} #}
{#     </div> #}
{# </div> #}
